# Server
PORT=3004
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=chatbot_service

# External services (URLs del Broker)
BROKER_URL=http://localhost:3000
COBROS_URL=http://localhost:3000/cobros
DESCUENTOS_URL=http://localhost:3000/descuentos
AGENTES_URL=http://localhost:3000/agentes
PEDIDOS_URL=http://localhost:3000/pedidos
