# =============================================
# CONFIGURACIÓN DEL BROKER
# =============================================

# Puerto en el que corre el broker
PORT=4000

# =============================================
# URLs de los microservicios
# Cambia el puerto cuando tus compañeros
# te digan en qué puerto levantaron su servicio
# =============================================

PEDIDOS_URL=http://localhost:3000/api
COBROS_URL=http://localhost:3000/api
BANCO_URL=http://localhost:3000/api
REPARTIDORES_URL=http://localhost:3000/api
PAQUETES_URL=http://localhost:3000/api
DESCUENTOS_URL=http://localhost:3000/api
MOVIMIENTOS_URL=http://localhost:3000/api
CHATS_URL=http://localhost:3000/api
SOPORTE_URL=http://localhost:3000/api
